:root {
  /* Theme 1 */

  /* Theme 2 */

  /* Theme 3 */

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  margin-left: 5px;
  font-size: 2rem;
  border-radius: 8px;
  border: none;
}

.calculator {
  padding: 0 25px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.calculator__screen {
  height: 100px;
}
.calculator__keypad-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  max-width: 300px;
  padding: 16px;
  border-radius: 6px;
  background-color: navy;
}

.calc__RESET-btn {
  grid-column: span 2;
}

.calc__equal-btn {
  grid-column: span 2;
}

@media (min-width: 768px) {
  .calculator__keypad-wrapper {
    width: 35%;
  }
}
  
