:root {
  /* Theme 1 */
  --t1-mainBackround: hsl(222, 26%, 31%);
  --t1-keypadBackground: hsl(223, 31%, 20%);
  --t1-screenBackground: hsl(224, 36%, 15%);
  --t1-keyBackground: hsl(225, 21%, 49%);
  --t1-keyActive: hsl(225, 41%, 74%);
  --t1-keyShadow: hsl(224, 28%, 35%);
  /*  for = button and theme toggle btn */
  --t1-toggle: hsl(6, 63%, 50%);
  --t1-keyShadowRed: hsl(6, 70%, 34%);
  --t1-keyShadowRedActive: hsl(19, 88%, 63%);
  --t1-btnColor: hsl(30, 25%, 89%);
  --t1-btnShadow: hsl(28, 16%, 65%);
  /* text */
  --t1-btnText: hsl(221, 14%, 31%);
  --btnWhiteText: hsl(0, 0%, 100%);

  /* Theme 2 */
  --t2-mainBackround: hsl(0, 0%, 90%);
  --t2-keypadBackground: hsl(0, 5%, 81%);
  --t2-screenBackground: hsl(0, 0%, 93%);
  --t2-keyBackgroundTeal: hsl(185, 42%, 37%);
  --t2-keyBackgroundActive: hsl(181, 74%, 73%);
  --t2-keyShadowTeal: hsl(185, 58%, 25%);
  --t2-toggle: hsl(25, 98%, 40%);
  --t2-toggleActive: hsl(25, 82%, 56%);
  --t2-keyShadowOrange: hsl(25, 99%, 27%);
  --t2-keyBackground: hsl(45, 7%, 89%);
  --t2-btnShadow: hsl(35, 11%, 61%);
  /* text */
  --t2-btnText: hsl(60, 10%, 19%);

  /* Theme 3 */
  --t3-mainBackround: hsl(268, 75%, 9%);
  --t3-keypadBackground: hsl(268, 71%, 12%);
  --t3-btnBackground: hsl(268, 47%, 21%);
  --t3-keyBackground: hsl(281, 89%, 26%);
  --t3-btnBackgroundActive: hsl(276, 48%, 44%);
  --t3-keyBackgroundActive: hsl(289, 48%, 44%);
  --t3-keyShadow: hsl(285, 91%, 52%);
  --t3-toggle: hsl(176, 100%, 44%);
  --t3-toggleActive: hsl(176, 60%, 76%);
  --t3-keyShadowsCyan: hsl(177, 92%, 70%);
  --t3-btnShadow: hsl(290, 70%, 36%);
  /* text */
  --t3-btnText: hsl(52, 100%, 62%);
  --t3-VeryDarkBlue: hsl(198, 20%, 13%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 0.75rem;
}

button {
  margin-left: 5px;
  font-size: 2rem;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  height: 60px;
  line-height: 60px;
}

.btn {
  font-size: 1.5rem;
}

.calculator {
  padding: 35px 25px;
  align-items: center;
}

.calculator__title-wrapper {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.calculator__toggle-theme-wrapper {
  margin-top: 24px;
}

.calculator__toggle-theme {
  display: flex;
  justify-content: space-between;
}

.calculator__toggle-theme1 {
  color: var(--btnWhiteText);
}
.calculator__toggle-theme2 {
  color: var(--t2-btnText);
}
.calculator__toggle-theme3 {
  color: var(--t3-btnText);
}

.calculator__toggle-theme-itle {
  display: flex;
  align-items: center;
}

.calculator__title-wrapper h1 {
  font-size: 2.375rem;
}
.calculator__screen {
  height: 90px;
  width: 100%;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator__result {
  font-size: 2rem;
}
.calculator__keypad-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 26px 16px;
  border-radius: 10px;
}

.calculator__RESET-btn {
  grid-column: span 2;
}

.calculator__equal-btn {
  grid-column: span 2;
}

.calculator__RESET-btn,
.calculator__DEL-btn {
  font-size: 1.125rem;
}

@media screen and (min-width: 576px) {
  .calculator__keypad-wrapper,
  .calculator__title-wrapper,
  .calculator__screen {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1025px) {
  .calculator__keypad-wrapper,
  .calculator__title-wrapper,
  .calculator__screen {
    width: 35%;
  }
}

@media screen and (min-width: 1440px) {
  .calculator__keypad-wrapper,
  .calculator__title-wrapper,
  .calculator__screen {
    width: 25%;
  }
}

/* theme styling */

/* Theme 1 */
.t1-screenBackground {
  background-color: var(--t1-screenBackground);
}

.t1-keypadBackground {
  background-color: var(--t1-keypadBackground);
}

.t1-mainBackground {
  background-color: var(--t1-mainBackround);
}

.t1-toggleBtn {
  background-color: var(--t1-toggle);
}

.t1-btnColor {
  background-color: var(--t1-btnColor);
}

.t1-btnColor:active {
  background-color: var(--btnWhiteText);
}

.t1-keyShadow {
  border-bottom: 4px solid var(--t1-keyShadow);
  background-color: var(--t1-keyBackground);
  color: var(--btnWhiteText);
}

.t1-keyShadow:active {
  background-color: var(--t1-keyActive);
}

.t1-toggleBtnShadow {
  border-bottom: 4px solid var(--t1-keyShadowRed) !important;
  background-color: var(--t1-toggle);
  color: var(--btnWhiteText);
}

.t1-toggleBtnShadow:active {
  background-color: var(--t1-keyShadowRedActive);
}

.t1-btnShadow {
  border-bottom: 4px solid var(--t1-btnShadow);
  color: var(--t1-keyShadow);
}

.t1-btnText {
  color: var(--t1-btnText);
}

.whiteText {
  color: var(--btnWhiteText);
}

/* Theme 2 */
.t2-screenBackground {
  background-color: var(--t2-screenBackground);
}

.t2-keypadBackground {
  background-color: var(--t2-keypadBackground);
}

.t2-mainBackground {
  background-color: var(--t2-mainBackround);
}

.t2-btnColor {
  /* same btn color as t1 */
  background-color: var(--t1-btnColor);
}

.t2-btnColor:active {
  background-color: var(--btnWhiteText);
}

.t2-keyShadow {
  border-bottom: 4px solid var(--t2-keyShadowTeal);
  background-color: var(--t2-keyBackgroundTeal);
  color: var(--btnWhiteText);
}

.t2-keyShadow:active {
  background-color: var(--t2-keyBackgroundActive);
}

.t2-toggleBtn {
  background-color: var(--t2-toggle);
}

.t2-toggleBtnShadow {
  border-bottom: 4px solid var(--t2-keyShadowOrange);
  background-color: var(--t2-toggle);
  color: var(--btnWhiteText);
}

.t2-btnShadow {
  border-bottom: 4px solid var(--t2-btnShadow);
}

.t2-toggleBtnShadow:active {
  background-color: var(--t2-toggleActive);
}

.t2-btnText {
  color: var(--t2-btnText);
}

/* Theme 3 */
.t3-screenBackground {
  /* keypad and screen are the same color */
  background-color: var(--t3-keypadBackground);
}

.t3-mainBackground {
  background-color: var(--t3-mainBackround);
}

.t3-keypadBackground {
  background-color: var(--t3-btnBackground);
}

.t3-toggleBtn {
  background-color: var(--t3-toggle);
}

.t3-btnColor {
  background-color: var(--t3-btnBackground);
}

.t3-btnColor:active {
  background-color: var(--t3-btnBackgroundActive);
}

.t3-toggleBtnShadow {
  border-bottom: 4px solid var(--t3-keyShadowsCyan);
  color: var(--t3-VeryDarkBlue) !important;
  background-color: var(--t3-toggle);
}

.t3-toggleBtnShadow:active {
  background-color: var(--t3-toggleActive);
}
.t3-btnText {
  color: var(--t3-btnText);
}

.t3-keyShadow {
  border-bottom: 4px solid var(--t3-keyShadow);
  background-color: var(--t3-keyBackground);
  color: var(--btnWhiteText);
}

.t3-keyShadow:active {
  background-color: var(--t3-keyBackgroundActive);
}

.t3-btnShadow {
  border-bottom: 4px solid var(--t3-btnShadow);
}

/* Styling for toggle theme menu*/
.calculator__toggle-theme {
  border-radius: 24px;
  display: inline-flex;
  margin-left: 20px;
}

.calculator__toggle-switch {
  height: 15px;
  width: 15px;
  margin-left: 4px;
  margin-top: 3px;
  margin-bottom: 1px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.calculator__toggle-container:last-child .calculator__toggle-switch {
  margin-right: 4px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
}

.t1 {
  background-color: var(--t1-toggle);
}

.t2 {
  background-color: var(--t2-toggle);
}

.t3 {
  background-color: var(--t3-toggle);
}

.calculator__toggle-container {
  position: relative;
}

.calculator__toggle-label {
  position: absolute;
  top: -16px;
  left: 7px;
  font-size: 0.813rem;
}

.calculator__toggle-theme-title {
  font-size: 12px;
  letter-spacing: 0.875px;
}
